body {
  font-family: var(--font-family);
}                                        

nav {
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 1;
  background-color: #f4f4f4;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: min-content auto;
}

nav a:-webkit-any-link {
  text-decoration: none;
  color: unset;
  align-self: center;
}

menu {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
}

#title-nav {
  white-space: nowrap;
  font-size: x-large;
}

.p-card {
  background-color: #f4f4f4;
  box-shadow: .5rem .5rem .5rem #aaaaaa;
}

.p-divider.p-divider-horizontal:before {
  border-top: 1px solid var(--primary-color);
}