.input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.input-group label {
    order: 1;
    width: 15em;
    padding-right: 0.5em;
}

.input-group input, 
.input-group .p-inputnumber,
.input-group .p-dropdown,
.input-group .p-inputswitch,
.input-group textarea,
.input-group select,
.input-group .p-image,
.input-group .p-chips,
.input-group .p-multiselect {
    order: 2;
    flex: 1 1 auto;
}

.input-group .p-image > img,
.input-group .p-dropdown {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .input-group .p-image > img,
    .input-group .p-dropdown {
        width: unset;
    }
    
    .input-group .p-image > img {
        height: 10rem;
    }
}

.input-group input[type="checkbox"],
.input-group input[type="radio"] {
    order: 1;
    flex: none;
    width: auto;
    margin-left: 10em;
}

.input-group input[type="checkbox"] ~ label,
.input-group input[type="radio"] ~ label {
    width: auto;
    padding-left: 0.4em;
}