.card-container {
    --columns: 2;
    --gutter: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--columns), calc((100% - calc((var(--columns) - 1) * var(--gutter))) / var(--columns)));
    row-gap: var(--gutter);
    column-gap: var(--gutter);
    padding: .5rem;
}

.card-container a {
    display: contents;
    color: unset;
    text-decoration: unset;
}

.p-card {
    background-color: #f4f4f4;
    box-shadow: .5rem .5rem .5rem #aaaaaa;
}

.p-divider.p-divider-horizontal:before {
    border-top: 1px solid var(--primary-color);
}

.p-card:hover,
.p-card:focus {
    transform: translateY(-0.5rem);
    transition: 0.1s ease-in-out;
}

.p-card-header {
    position: relative;
}

.p-card-header i.pi {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.p-card .p-card-body {
    padding: 0 1rem;
}

i.pi {
    font-size: 1.5rem;
}

i.pi:hover,
i.pi:active {
    color: var(--primary-color);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.p-card-header .p-divider-horizontal {
    width: 75%;
    margin: 1.25rem auto;
}

.p-card .p-card-title {
    font-weight: inherit;
    font-size: large;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media only screen and (min-width: 768px) {
    .card-container {
        --columns: 4;
    }

    .p-card .p-card-title {
        font-size: larger;
    }
}

@media only screen and (min-width: 992px) {
    .card-container {
        --columns: 6;
    }
}