body {
  font-family: var(--font-family);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.button-bar {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.button-bar button {
  width: 100%;
  justify-content: center;
}

.p-dialog {
  width: 100%;
}

.types-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.types-container button {
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .button-bar {
    width: unset;
  }
  
  .button-bar button {
    width: unset;
  }

  .p-dialog {
    width: unset;
  }
}