DB_USERNAME=""
DB_PASSWORD=""
KEYCLOAK_ADMIN_USERNAME=""
KEYCLOAK_ADMIN_PASSWORD=""
KEY_CLOAK_DB_USERNAME=""
KEY_CLOAK_DB_PASSWORD=""
HOSTNAME="cem-cloud.example.org"
HOST="https://cem-cloud.example.org"
MYSQLHOST="db"
MQTTHOST="mqtt"
MQTTUSERNAME=""
MQTTPASSWORD=""